<div class="row animated fadeIn fast" *ngIf="cargando">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h3 class="card-title">Lista de Contenidos</h3>
            <br>
            <h6 class="card-subtitle">
              Contenidos <code>.resgistrados ({{silabus.length}})</code>
            </h6>
          </div>
          <div class="col">
            <div class="text-right">
              <a class="btn btn-info" routerLink="/dashboard/silabu/nuevo">
                <i class="fa fa-hospital-o"></i>&nbsp; Crear Contenido
              </a>
            </div>
          </div>
          <div class="row animated fadeIn fast col-12">
            <div class="col-sm-12">
              <div class="card mb-0">
                <div class="card-body">
                  <input
                    type="text"
                    class="form-control m-0 col-sm-12"
                    placeholder="Ingrese nombre sección"
                    #txtTermino
                    (keyup)="buscar(txtTermino.value)"
                  />
                </div>
              </div>
            </div>
          </div>
        <div class="table-responsive p-3 ">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Sección</th>
                <th>Curso</th>
                <th>Docente</th>
                <th class="text-nowrap" class="w100">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let silabo of silabus">
                <td>{{ silabo.seccion.nombre }}</td>
                <td>{{ silabo.seccion.curso.codigo}}</td>
                <td>{{ silabo.seccion.usuario.nombres + ' ' + silabo.seccion.usuario.apellidos}}</td>
                <td class="text-nowrap text-center">
                  <a
                    [routerLink]="['/dashboard', 'silabu', silabo._id]"
                    data-toggle="tooltip"
                    data-original-title="Editar"
                  >
                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                  </a>
                  <a
                    class="cursor"
                    data-toggle="tooltip"
                    data-original-title="Borrar"
                    (click)="borrarSilabo(silabo)"
                  >
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

