<div class="row animated fadeIn fast" *ngIf="cargando">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="!cargando">
  <div class="col-sm-8 mx-auto">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title" *ngIf="seccionSeleccionada">{{seccionSeleccionada.nombre}}</h3>
        <br>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Semanas</th>
                <th>Accion</th>
            </thead>
            <tbody>
              <tr *ngFor="let number of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]">
                <td class="w150">Semana {{number}}</td>
                <td class="w400">
                  <a [routerLink]="['/dashboard', 'micurso','miavance', id]" class="btn btn-secondary">Registrar Avance</a>
                  &nbsp;
                  <button (click)="enviarAvance()" class="btn btn-info">Enviar Avance</button>
                  </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



