<div class="card col-sm-8 mx-auto">
  <div class="card-body">
      <div class="table-responsive">
          <table class="table">
              <thead>
                  <tr>
                      <th>Elemento</th>
                      <th>Valor</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Nombre del Sistema</td>
                      <td>Aplicativo Web de Seguimiento y Monitoreo de Sesiones de Aprendizaje</td>
                  </tr>
                  <tr>
                    <td>Versión</td>
                    <td>v0.5</td>
                  </tr>
                  <tr>
                    <td>Descripción adicional</td>
                    <td>Sistema encargado para la revisión de sesiones de clase</td>
                  </tr>
                  <tr>
                    <td>Fabricante</td>
                    <td>KAZURO SYSTEMS S.A.C.</td>
                  </tr>
                  <tr>
                    <td>Siglas del Sistema</td>
                    <td>AMSSA</td>
                  </tr>
                  <tr>
                    <td>Contacto</td>
                    <td>kazurosystems@gmail.com</td>
                  </tr>
                  <tr>
                    <td>Teléfono</td>
                    <td>+51920347514</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
