<div
  class="fondo-modal-imagen animated fadeIn fast"
  [class.oculto]="modalPasswordService.ocultarModal"
>
  <div
    id="responsive-modal"
    class="modal fade show"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    style="display: block; padding-right: 17px"
  >
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered mx-auto" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Cambiar contraseña</h3>
          <button
            type="button"
            class="close cursor"
            data-dismiss="modal"
            aria-hidden="true"
            (click)="cerrarModal()"
          >
            X
          </button>
        </div>
        <div class="modal-body">
          <form
            class="form-horizontal"
            [formGroup]="passwordForm"
            (submit)="comprobarPassword()"
          >
            <div class="form-group pt-2">
              <label for="pass1" class="col-md-12">Contraseña actual</label>
              <div class="row col-md-12 pt-2">
                <div class="col-md-9">
                    <input type="text" [disabled]="contrasenaValida" placeholder="Ingrese contraseña actual" class="form-control form-control-line" id="password" formControlName="password">
                    <input type="hidden" formControlName="uid"/>
                </div>
                <div class="col-md-3">
                  <input [disabled]="passwordForm.invalid" type="submit" class="btn btn-default" value="Comprobar">
                </div>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col text-danger">
              <p *ngIf="contrasenaValida">
                * Las contraseñas no es válida
              </p>
            </div>
          </div>

          <div *ngIf="comprobada">
            <form
            class="form-horizontal"
            [formGroup]="newPasswordForm"
            (submit)="cambiarPassword()"
            >
            <input type="hidden" formControlName="uid"/>
              <div class="form-group pt-2">
                <label for="pass1" class="col-md-12">Nueva contraseña</label>
                <div class="col-md-12">
                    <input type="text" placeholder="Ingrese nueva contraseña" class="form-control form-control-line" id="pass1" formControlName="pass1">
                </div>
              </div>
              <div class="form-group pt-2">
                <label for="pass2" class="col-md-12">Re-escribir contraseña</label>
                <div class="col-md-12">
                    <input type="text" placeholder="Ingrese contraseña de nuevo" class="form-control form-control-line" id="pass2" formControlName="pass2">
                </div>
              </div>
              <div class="row">
                <div class="col text-danger">
                  <p *ngIf="contrasenasNoValidas()">
                    * Las contraseñas deben de ser iguales
                  </p>
                </div>
              </div>
              <div class="form-group pt-2">
                <div class="col-md-12">
                    <input type="submit" [disabled]="newPasswordForm.invalid" class="btn btn-info" value="Cambiar contraseña">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
